#createPanel(hidden).panel
	h1 Create Paper
	hr
	
	#innerWrap
		span.fa.fa-file-text-o(style="font-size: 250px; float:left;")
		
		form(action="/create" method="POST")#createform
			legend 
				input(type="text" name="ticker" placeholder="TICKER")

			legend 
				select(name="qty")
					option 1
					option 5
					option 10
					option 11
				span.hint QTY
			
			
			legend
				button(type="button" style="margin:5px;")#submit
					span.fa.fa-check &nbsp;&nbsp;
					span CREATE
				